[package]
name = "uvx"
version = "2.0.5"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# [lib]
# name = "uvx"
# crate-type = ["cdylib"]

[dependencies]
# cli
clap = { version = "4.5.4", features = ["derive"] }
# async
tokio = "1.4"
# serialize
rmp-serde = "1.2.0"
serde = { version = "1.0.198", features = ["derive"] }
serde_json = "1.0.116"
# helpers
home = "0.5.9"
itertools = "0.12.1"
# fancy
anstyle = "1.0.6"
owo-colors = "4.0.0"
# uv
# uv-requirements = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
install-wheel-rs = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
uv-interpreter = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
uv-installer = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
uv-cache = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
pep508_rs = { git = "https://github.com/astral-sh/uv.git", tag = "0.1.38" }
directories = "5.0.1"
configparser = "3.0.4"
tempfile = "3.10.1"
chrono = "0.4.38"
subprocess = "0.2.9"
clap_complete = "4.5.2"
regex = "1.10.4"

# security bumps/pins:
rustls = "0.23.5"
